APP_NAME=NeHex Core API
APP_ENV=dev
APP_PORT=7878

DB_HOST=192.168.3.233
DB_PORT=3306
DB_NAME=nehex_dtbs
DB_USER=nehex_dtbs
DB_PASSWORD=B7esXpmxGyaxxcZP
DB_CHARSET=utf8mb4

DB_POOL_SIZE=10
DB_MAX_OVERFLOW=20
DB_POOL_RECYCLE=1800
DB_POOL_TIMEOUT=30
