APP_NAME=NeHex Core API
APP_ENV=dev
APP_PORT=7878
ADMIN_MANAGER_WEB=/nehex-admin
ADMIN_API_SECRET=please-change-me
ADMIN_API_CLIENT_ID=nehex-vuetify-admin
ADMIN_API_TOKEN_TTL_SECONDS=43200

DB_HOST=0.0.0.0
DB_PORT=3306
DB_NAME=mysql
DB_USER=mysql
DB_PASSWORD=mysql
DB_CHARSET=utf8mb4

DB_POOL_SIZE=10
DB_MAX_OVERFLOW=20
DB_POOL_RECYCLE=1800
DB_POOL_TIMEOUT=30
